/* animações */
@keyframes up {
    from {
        opacity: 0;
        transform: translateY(16px);
    }

    top {
        opacity: 1;
    }
}

.animate-up {
    animation-name: up;
    animation-duration: 300ms;
    animation-fill-mode: backwards;
}