form {
  width: 70rem;
  background: #fff;
  margin: 6.4rem auto;
  border-radius: 2rem;
  overflow: hidden;
  padding: 8rem;
  border: 1px solid #d3e2e5;
}

fieldset {
  border: 0;
}

fieldset + fieldset {
  margin-top: 8rem;
}

fieldset legend {
  width: 100%;
  color: #5c5899;
  font-size: 3.2rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid #d3e2e5;
}

.input-block + .input-block {
  margin-top: 2.4rem;
}

.input-block label {
  color: #8fa7b3;
  margin-bottom: 0.8rem;
  line-height: 1.5;
}

.input-block label span {
  font-size: 1.4rem;
  color: #8fa7b3;
  margin-left: 2.4rem;
  line-height: 1.5;
}

.input-block input,
.input-block textarea {
  width: 100%;
  color: #5c8f89;
  background: #f5f8fa;
  border-radius: 2rem;
  border: 2px solid #d3e2e5;
}

.input-block input:focus,
.input-block textarea:focus {
  border: 2px solid #222;
}

.input-block input {
  height: 6.4rem;
  padding: 0 1.6rem;
}

.input-block input:valid,
.input-block textarea:valid {
  border: 1px solid #a1e9c5;
}

.input-block textarea {
  resize: vertical;
  padding: 1.6rem;
  height: clamp(12rem, 16rem, 24rem);
}

.input-block.images button {
  width: 100%;
  cursor: pointer;
  height: 6.4rem;
  padding: 0 1.6rem;
  margin-top: 2.4rem;
  border-radius: 2rem;
  background: #f5f8fa;
  border: 1px dashed #96d2f0;
}

.new-upload {
  position: relative;
}

.new-upload + .new-upload {
  margin-top: 2.4rem;
}

.new-upload span {
  right: 12px;
  bottom: 12px;
  position: absolute;
  display: flex;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.6rem;
  background-color: #fff;
  border: 1px solid #d3e2e5;
}
