aside.sidebar {
  height: 100%;
  position: fixed;
  padding: 32px 24px; /* ou 3.2rem 2.4rem */
  background: #15c3d6;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

aside.sidebar footer button {
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  background: #12afcb;
  border-radius: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

aside.sidebar footer button:hover {
  background: #17d6eb;
}

.width-sidebar {
  padding-left: 110px;
}
